* {
	font-family: "Space Mono", monospace;
}

.thick {
	font-weight: 900 !important;
}
.bold {
	font-weight: 600 !important;
}
.thin {
	font-weight: 300 !important;
}

/* Colors */
.orange-font {
	color: #f15a24 !important;
}
.purple-font {
	color: #716cc4 !important;
}
.dark-blue-font {
	color: #7e8e97 !important;
}
.white-font {
	color: #ffffff !important;
}
.brown-font {
	color: #3f220f !important;
}

/* Background Colors */
.orange-bg {
	background-color: #f15a24 !important;
}

.purple-bg {
	background-color: #716cc4 !important;
}

.light-blue-bg {
	background-color: #edf2f5 !important;
}
